# Exercise 1

In [1]:
import os
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_columns', 20)

In [2]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

### Q1: 埼玉県で一番小さい面積の市町村を調べる

In [9]:
# " "のなかにSQL文を記述
sql = "select name_2 from adm2 where name_1='Saitama' order by st_area(geom::geography)/1000000 asc limit 1;"

In [10]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   name_2
0  Warabi

### Q2. 都道府県ごとに一番大きい面積を有する市町村を調べる

In [47]:
# " "のなかにSQL文を記述
sql = "select name_1, name_2 from adm2 as adm2_1 where st_area(geom::geography) = (select max(st_area(geom::geography)) from adm2 as adm2_2 where adm2_1.name_1 = adm2_2.name_1);"

In [48]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

       name_1         name_2
0       Aichi         Toyota
1       Akita      Yurihonjō
2      Aomori          Mutsu
3       Chiba       Ichihara
4       Ehime      Kumakōgen
5       Fukui            Ōno
6     Fukuoka     Kitakyūshū
7   Fukushima          Iwaki
8        Gifu       Takayama
9       Gunma       Minakami
10  Hiroshima        Shōbara
11   Hokkaido         Ashoro
12      Hyōgo        Toyooka
13    Ibaraki     Hitachiōta
14   Ishikawa        Hakusan
15      Iwate     Ichinoseki
16     Kagawa      Takamatsu
17  Kagoshima  Satsumasendai
18   Kanagawa       Yokohama
19      Kochi       Shimanto
20   Kumamoto        Amakusa
21      Kyoto          Kyoto
22        Mie            Tsu
23     Miyagi       Kurihara
24   Miyazaki        Nobeoka
25     Nagano      Matsumoto
26   Naoasaki       Tsushima
27       Nara      Totsukawa
28    Niigata       Murakami
29       Oita          Saiki
30    Okayama         Maniwa
31    Okinawa       Taketomi
32      Osaka          Osaka
33       Saga        Karatsu
34    Saitama       Chichibu
35      Shiga      Lake Biwa
36    Shimane         Masuda
37   Shizuoka      Hamamatsu
38    Tochigi          Nikkō
39  Tokushima        Miyoshi
40      Tokyo        Okutama
41    Tottori        Tottori
42     Toyama         Toyama
43   Wakayama      Kyōtanabe
44   Yamagata       Tsuruoka
45  Yamaguchi        Iwakuni
46  Yamanashi         Hokuto

### Q3. 都道府県ごとに市町村の総数が多い順に並べる

In [61]:
# " "のなかにSQL文を記述
sql = "select name_1, count(*) from adm2 group by name_1 order by count(*) desc;"

In [62]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

       name_1  count
0    Hokkaido    180
1      Nagano     82
2     Saitama     70
3     Fukuoka     66
4       Aichi     64
5   Fukushima     60
6       Chiba     56
7       Tokyo     53
8    Kumamoto     48
9   Kagoshima     46
10    Ibaraki     45
11      Osaka     43
12       Gifu     43
13   Shizuoka     43
14    Okinawa     42
15      Hyōgo     41
16     Aomori     40
17       Nara     39
18      Gunma     38
19     Miyagi     36
20      Kochi     35
21   Yamagata     35
22      Iwate     35
23   Kanagawa     33
24    Niigata     31
25    Tochigi     31
26    Okayama     30
27   Miyazaki     30
28   Wakayama     29
29  Yamanashi     28
30        Mie     28
31      Shiga     27
32      Kyoto     26
33      Akita     25
34  Tokushima     24
35   Naoasaki     23
36  Hiroshima     23
37    Shimane     22
38       Saga     20
39      Ehime     20
40  Yamaguchi     20
41   Ishikawa     19
42       Oita     18
43    Tottori     18
44      Fukui     17
45     Toyama     15
46     Kagawa     14

### Q4. 都道府県ごとに村の総数が多い順に並べる

In [69]:
# " "のなかにSQL文を記述
sql = "select name_1, count(case when type_2 = 'Mura' then 1 else null end) from adm2 group by name_1 order by count(case when type_2 = 'Mura' then 1 else null end) desc;"

In [70]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

       name_1  count
0      Nagano     34
1     Okinawa     16
2    Hokkaido     15
3   Fukushima     13
4        Nara     11
5    Kumamoto      8
6      Aomori      7
7       Iwate      6
8   Yamanashi      6
9     Fukuoka      4
10      Kochi      4
11      Gunma      4
12      Akita      3
13    Niigata      3
14  Kagoshima      2
15      Aichi      2
16        Mie      2
17       Gifu      2
18    Okayama      2
19   Miyazaki      2
20    Ibaraki      2
21    Shimane      1
22    Tottori      1
23  Tokushima      1
24     Toyama      1
25      Kyoto      1
26       Oita      1
27      Osaka      1
28      Hyōgo      0
29     Kagawa      0
30   Ishikawa      0
31      Shiga      0
32     Miyagi      0
33    Tochigi      0
34       Saga      0
35      Fukui      0
36      Ehime      0
37   Wakayama      0
38   Yamagata      0
39   Naoasaki      0
40      Tokyo      0
41  Yamaguchi      0
42   Shizuoka      0
43   Kanagawa      0
44  Hiroshima      0
45    Saitama      0
46      Chiba      0